@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(45deg, #6b95e2, #061c42);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
